@import vars

=transition($el)
  -webkit-transition:   $el 0.3s ease-out 0s
  -moz-transition:      $el 0.3s ease-out 0s
  transition:           $el 0.3s ease-out 0s
*
  font-weight:          100
  font-family:          "Palatino Linotype", "Book Antiqua", Palatino, serif
html, main, body
  height:               100%
body
  margin:               0px auto
  background-size:      contain
a
  text-decoration:	    none
  cursor:				pointer
  +transition(color)
  color:                $grass
a:hover 
  color:				$blood
  +transition(color)

h3, h6
  padding:              0
  margin:               0px 0px 40px 0px
h3
  font-size:	       	36px
h6
  font-size:	    	30px

.content
  width:                100%
  display:              table
  table-layout:         fixed

.floristic, .greening, .logo
  display:              table-cell
  text-align:           center

.floristic, .greening
  vertical-align:       middle

.logo 
  vertical-align:       middle
  img
    display:            block
    margin:             0 auto
    width:              400px
    height:             400px

.footer
  width:                100%
  position:             absolute
  bottom:               0
  color:                $grass
  margin:               0
  padding:              0
  *
    display:            block
    margin:             0 auto
    text-align:         center
  .slogan
    font-size:          30px
    text-transform:     uppercase
    padding:            5px 0 5px 0
  .company
    padding:            5px 0 5px 0
    font-size:          24px
  .phones
    padding:            5px 0 5px 0
    font-size:          20px
#playerButton
  display:              block
  text-align:           center
  vertical-align:       middle
  height:               20px
  width:                100%
  background:           $grass
  color:                black
  padding:            5px 0 5px 0
  +transition(background)
  &:hover
    background:         $grass + #333
    +transition(background)
