@import vars

=transition($el)
  -webkit-transition:   $el 0.3s ease-out 0s
  -moz-transition:      $el 0.3s ease-out 0s
  transition:           $el 0.3s ease-out 0s

*
  font-weight:          100
  font-family:          "Palatino Linotype", "Book Antiqua", Palatino, serif

html, main, body
  height:               100%

body
  margin:               0px auto

a
  text-decoration:	    none
  cursor:				pointer
  +transition(color)
  color:                $grass
  &:hover 
    color:				$blood
    +transition(color)

h3, h6
  padding:              0
  margin:               0px 0px 5% 0px
h3
  font-size:	       	40px
h6
  font-size:	    	32px

.wrapper
  display:              table
  width:                100%
  height:               70%
.content
  width:                100%
  margin:               0 auto 
  text-align:           center
  vertical-align:       middle
  display:              table-cell

.floristic, .greening, .logo
  display:              inline-block
  text-align:           center
.floristic
  margin:               0 0 0 1% 
.greening
  margin:               0 1% 0 0 
.floristic, .greening
  vertical-align:       middle
  width:                35%

.logo 
  vertical-align:       middle
  width:                25%
  img
    max-width:          100%

.footer
  width:                100%
  position:             absolute
  bottom:               0
  color:                $grass
  margin:               0 auto 1% auto
  padding:              0
  *
    display:            block
    margin:             0 auto
    text-align:         center
  .slogan
    font-size:          40px
    text-transform:     uppercase
    padding:            1% 0 1% 0
  .company
    padding:            1% 0 1% 0
    font-size:          32px
  .phones
    padding:            1% 0 1% 0
    font-size:          26px

#playerButton
  text-align:           center
  vertical-align:       middle
  height:               5%
  background:           $grass
  color:                black
  padding:              1% 0 1% 0
  +transition(background)
  &:hover
    background:         $grass + #333
    +transition(background)

