@import vars 
ul
  list-style:           none
ul.dropdown 
  position:             relative
  //display:              inline-table
  &:after
    content:            ""
    clear:              both
    display:            block

  li
    float:              left

    &:hover 
      ul, ul a
        display:        block

  ul.sub_menu
    display:            none
    position:           absolute
    top:                50%
    padding:            0

    li
      float:            none

      a
        font-size:      0.9em
        padding:        0.2em 0.3em



    
