@import vars 
ul
  list-style:           none
.dropdown 
  position:             relative
  //display:              inline-table
  &:after
    content:            ""
    clear:              both
    display:            block
  li
    float:              left

    &:hover 
      ul, ul a
        display:        block

  ul.sub_menu
    display:            none
    position:           absolute
    top:                100%
    padding:            0
    margin:             0

    li.btn
      float:            none
      display:          block
      margin:           0
      padding:          0
      a
        font-size:      0.9em
        padding:        0.4em 0.6em



    
