/* @import "http://webfonts.ru/import/america.css"; */
@import "http://webfonts.ru/import/beermoney.css";

html, body, main, nav, header, a, div, span {
	color:				black;
	/* font-family:		'America XIX'; */
	font-family:		'Beer Money';
	font-size:			24px;
	padding:			0;
	margin:				0;
}
html{
	background:			url(images/light_grey.png);
}
main, nav{
	padding:			0 5px;
}

header {
	margin:				0 auto;
	padding:			0;
	background:			rgba(0,0,0,0.4);
}

body {
	width:				750px;
	background:			rgba(0,0,0,0.2);
	margin:				0px auto;
	padding:			40px 10px;
}

header { 
	width:				100%;
	text-align:			justify; 
}
nav {
	letter-spacing:		1px;
	display:			inline-block;
	margin:				10px 20px;
}

p {
	padding:			20px 40px;
}
a {
	font-size:			36px;
	text-decoration:	none;
	cursor:				pointer;
}
h6 {
	font-size:			36px;
}

h3 {
	font-size:			24px;
}

ul {
	padding:			0;
	margin:				0;
}
h6, h3 {
	margin:				5px;
	padding				0px;
}
.float {
	float:				left;
}

.floristic {
	position:			absolute;	
	left:				100px;
	top:				400px;
}

.greening {
	position:			absolute;	
	right:				100px;
	top:				100px;
}

.head-floristic, 
.head-greening, 
.head-main {
	display:			inline-block;
	text-align:			center;
}
.head-floristic:hover, 
.head-greening:hover, 
.head-main:hover {
}
.head-main > span {
	position:			relative;
	padding:			0;
	margin:				0;
	float:				right;
}
.imager {
	margin:				20px auto;
}
.btn {
	font-size:			24px;	
	display:			inline-block;	
	padding:			6px;
	border-top:			14px solid rgba(34, 51, 34, 0.7);
	background:			rgba(68,102,68,0.7);
	box-shadow: 		0px 0 1px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0px 0 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 	0px 0 1px rgba(0, 0, 0, 0.8);
	margin:				1px;
}
.btn:hover {
	border-top:			4px solid rgba(255,255,255, 0.4);
	-webkit-transition:	border-top 0.2s ease 0s;
	-moz-transition:	border-top 0.2s ease 0s;
	background:			rgba(0, 0, 0, 1);
}
.biglink {
	display:			inline-block;	
	margin:				0;
	padding:			0;
}
a:hover {
	color:				#fff;
	-webkit-transition:	color 0.2s ease 0s;
	-moz-transition:	color 0.2s ease 0s;
}
