/* line 7, ../sass/index.sass */
* {
  font-weight: 100;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* line 10, ../sass/index.sass */
html, main, body {
  height: 100%;
}

/* line 12, ../sass/index.sass */
body {
  margin: 0px auto;
  background-size: contain;
}

/* line 15, ../sass/index.sass */
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-out 0s;
  -moz-transition: color 0.3s ease-out 0s;
  transition: color 0.3s ease-out 0s;
  color: #255614;
}

/* line 20, ../sass/index.sass */
a:hover {
  color: #9a0000;
  -webkit-transition: color 0.3s ease-out 0s;
  -moz-transition: color 0.3s ease-out 0s;
  transition: color 0.3s ease-out 0s;
}

/* line 24, ../sass/index.sass */
h3, h6 {
  padding: 0;
  margin: 0px 0px 40px 0px;
}

/* line 27, ../sass/index.sass */
h3 {
  font-size: 36px;
}

/* line 29, ../sass/index.sass */
h6 {
  font-size: 30px;
}

/* line 32, ../sass/index.sass */
.content {
  width: 100%;
  display: table;
  table-layout: fixed;
}

/* line 37, ../sass/index.sass */
.floristic, .greening, .logo {
  display: table-cell;
  text-align: center;
}

/* line 41, ../sass/index.sass */
.floristic, .greening {
  vertical-align: middle;
}

/* line 44, ../sass/index.sass */
.logo {
  vertical-align: middle;
}
/* line 46, ../sass/index.sass */
.logo img {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

/* line 52, ../sass/index.sass */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #255614;
  margin: 0;
  padding: 0;
}
/* line 59, ../sass/index.sass */
.footer * {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* line 63, ../sass/index.sass */
.footer .slogan {
  font-size: 30px;
  text-transform: uppercase;
  padding: 5px 0 5px 0;
}
/* line 67, ../sass/index.sass */
.footer .company {
  padding: 5px 0 5px 0;
  font-size: 24px;
}
/* line 70, ../sass/index.sass */
.footer .phones {
  padding: 5px 0 5px 0;
  font-size: 20px;
}

/* line 73, ../sass/index.sass */
#playerButton {
  display: block;
  text-align: center;
  vertical-align: middle;
  height: 20px;
  width: 100%;
  background: #255614;
  color: black;
  padding: 5px 0 5px 0;
  -webkit-transition: background 0.3s ease-out 0s;
  -moz-transition: background 0.3s ease-out 0s;
  transition: background 0.3s ease-out 0s;
}
/* line 83, ../sass/index.sass */
#playerButton:hover {
  background: #588947;
  -webkit-transition: background 0.3s ease-out 0s;
  -moz-transition: background 0.3s ease-out 0s;
  transition: background 0.3s ease-out 0s;
}
