/* line 2, ../sass/menu.sass */
ul {
  list-style: none;
}

/* line 4, ../sass/menu.sass */
ul.dropdown {
  position: relative;
}
/* line 7, ../sass/menu.sass */
ul.dropdown:after {
  content: "";
  clear: both;
  display: block;
}
/* line 12, ../sass/menu.sass */
ul.dropdown li {
  float: left;
}
/* line 16, ../sass/menu.sass */
ul.dropdown li:hover ul, ul.dropdown li:hover ul a {
  display: block;
}
/* line 19, ../sass/menu.sass */
ul.dropdown ul.sub_menu {
  display: none;
  position: absolute;
  top: 50%;
  padding: 0;
}
/* line 25, ../sass/menu.sass */
ul.dropdown ul.sub_menu li {
  float: none;
}
/* line 28, ../sass/menu.sass */
ul.dropdown ul.sub_menu li a {
  font-size: 0.9em;
  padding: 0.2em 0.3em;
}
