/* line 2, ../sass/menu.sass */
ul {
  list-style: none;
}

/* line 4, ../sass/menu.sass */
.dropdown {
  position: relative;
}
/* line 7, ../sass/menu.sass */
.dropdown:after {
  content: "";
  clear: both;
  display: block;
}
/* line 11, ../sass/menu.sass */
.dropdown li {
  float: left;
}
/* line 15, ../sass/menu.sass */
.dropdown li:hover ul, .dropdown li:hover ul a {
  display: block;
}
/* line 18, ../sass/menu.sass */
.dropdown ul.sub_menu {
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  margin: 0;
}
/* line 25, ../sass/menu.sass */
.dropdown ul.sub_menu li.btn {
  float: none;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/menu.sass */
.dropdown ul.sub_menu li.btn a {
  font-size: 0.9em;
  padding: 0.4em 0.6em;
}
