/* line 1, ../sass/select.sass */
select {
  padding: 3px;
  margin: 0;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 16, ../sass/select.sass */
  select {
    padding-right: 18px;
  }
}
/* line 19, ../sass/select.sass */
.selectArrow {
  position: relative;
}
/* line 21, ../sass/select.sass */
.selectArrow:after {
  position: absolute;
  right: 8px;
  top: 0px;
  content: "<>";
  font: 12px "Consolas", monospace;
  font-weight: 600;
  color: #666;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 2px 20px 2px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  pointer-events: none;
}
/* line 37, ../sass/select.sass */
.selectArrow:before {
  content: "";
  right: 6px;
  top: 0px;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  position: absolute;
  pointer-events: none;
  display: block;
}
